# ───────────────────────────────────────────────────────────
# Project-Wide .gitignore Items
# ───────────────────────────────────────────────────────────

# macOS Files
.DS_Store

# Python Dev
__pycache__/
**/__pycache__/
*.pyc
.env
*.db
.venv
.venv/

# JSON Input Files
input/
